/* /style/ImagePopup.css */

.ImagePopup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    /* On top of other UI */
}

.ImagePopup_content {
    position: relative;
    padding: 15px;
    background: var(--menu-background);
    border: 2px solid var(--menu-border-color);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.ImagePopup_content img {
    display: block;
    max-width: 80vw;
    max-height: 70vh;
    image-rendering: pixelated;
    /* For crisp pixel art */
}

.ImagePopup_close-button {
    position: absolute;
    top: -15px;
    right: -15px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: var(--menu-border-color);
    border: 2px solid var(--dialog-background);
    color: var(--dialog-background);

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.ImagePopup_close-button:hover {
    transform: scale(1.1);
}